/** Reset some basic elements */
body, h1, h2, h3, h4, h5, h6, p, blockquote, pre, hr, dl, dd, ol, ul, figure { margin: 0; padding: 0; }

/** Basic styling */
body {
  font-family: Helvetica, Arial, sans-serif;
  font-size: 16px;
  line-height: 1.5;
  font-weight: 300;
  color: #111;
  background-color: #fdfdfd;
  -webkit-text-size-adjust: 100%;
}

/** Set `margin-bottom` to maintain vertical rhythm */
h1, h2, h3, h4, h5, h6, p, blockquote, pre, ul, ol, dl, figure, .highlight { margin-bottom: 15px; }

/** Images */
img { max-width: 100%; vertical-align: middle; }

/** Lists */
ul, ol { margin-left: 30px; }

li > ul, li > ol { margin-bottom: 0; }

/** Headings */
h1, h2, h3, h4, h5, h6 { font-weight: 300; }

/** Links */
a { color: #1a62bf; text-decoration: none; }
a:hover { color: #000; text-decoration: underline; }

/** Icons */
.icon > svg { display: inline-block; width: 28px; height: 28px; vertical-align: middle; margin-right: 10px; }

.icon--feed > svg path { fill: #AAAAAA; transition: 1200ms; }

a:hover .icon > svg path { fill: #111; }

.social-media-list > li { padding-bottom: 5px; }
.social-media-list > li a:hover .icon > svg path { fill: #111; }
.social-media-list > li a:hover .icon > svg { transform: rotate(360deg); transition: 500ms; }
.social-media-list > li .icon > svg path { fill: #AAAAAA; transition: 1200ms; }

.loading--icon { padding-bottom: 20px; width: 45px; height: 45px; }

.github-call a { font-weight: bold; }
.github-call li > span { display: block; color: #828282; }

/** Site header */
.site-header { border-top: 5px solid #424242; border-bottom: 1px solid #e8e8e8; min-height: 56px; position: relative; }

/** Site footer */
.site-footer { border-top: 1px solid #e8e8e8; padding: 30px 0; }

/** Page content */
#page-content { padding: 30px 0; }

.page-heading { font-size: 20px; }

/** Wrapper */
.wrapper {
  max-width: -webkit-calc(800px - (30px * 2));
  max-width: calc(800px - (30px * 2));
  margin-right: auto;
  margin-left: auto;
  padding-right: 30px;
  padding-left: 30px;
}
@media screen and (max-width: 800px) {
  .wrapper {
    max-width: -webkit-calc(800px - (30px));
    max-width: calc(800px - (30px));
    padding-right: 15px;
    padding-left: 15px;
  }
}
